*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
  padding:30px;
}

h1{
  margin-bottom:25px;
}

#users-container{
  display:grid;

  grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

  gap:20px;
}

.user-card{
  background:
    rgba(255,255,255,0.05);

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius:22px;

  padding:20px;

  text-decoration:none;

  color:white;

  transition:0.25s;
}

.user-card:hover{
  transform:translateY(-3px);

  background:
    rgba(255,255,255,0.08);
}

.user-card img{
  width:70px;
  height:70px;

  border-radius:50%;

  object-fit:cover;

  margin-bottom:15px;
}

.user-card h2{
  margin-bottom:8px;
}

.user-card p{
  opacity:0.8;
  line-height:1.5;
}

.back-btn {
  position: absolute;

  top: 30px;
  left: 30px;

  color: rgba(255,255,255,0.7);

  text-decoration: none;

  font-size: 16px;

  transition: 0.2s;
}

.back-btn:hover {
  color: #c9c9c9;

  transform: translateX(-3px);
}

#search{
  width:100%;

  max-width:400px;

  padding:15px 18px;

  margin:70px 0 30px;

  border:none;

  outline:none;

  border-radius:16px;

  background:
    rgba(255,255,255,0.06);

  border:
    1px solid rgba(255,255,255,0.08);

  color:white;

  font-size:15px;
}

#search::placeholder{
  color:rgba(255,255,255,0.45);
}

#search:focus{
  border-color:#c7c7c7;

  box-shadow:
    0 0 12px rgba(247,207,87,0.2);
}

@media (max-width: 990px){

  body{
    padding:20px 15px;
  }

  .back-btn{
    position:relative;

    top:0;
    left:0;

    display:inline-block;

    margin-bottom:20px;
  }

  #search{
    max-width:100%;

    margin:0 0 25px;
  }

  #users-container{

    grid-template-columns:
    1fr;

    gap:15px;
  }

  .user-card{
    padding:18px;
  }

  .user-card img{
    width:60px;
    height:60px;
  }

  .user-card h2{
    font-size:18px;
  }

  .user-card p{
    font-size:14px;
  }
}
